<template>
  <div id="app">
    <UpperNavigationBar pageTitle="Admin Dashboard" :sessionKey="sessionKey"></UpperNavigationBar>

    DASHBOARD ADMIN: implementata in sprint 2
  </div>
</template>

<script lang="ts">
import UpperNavigationBar from "../components/UpperNavigationBar.vue";
import { Component } from "vue-property-decorator";
import BaseComponent from "./BaseComponent.vue";

@Component({
  name: "adminDashboard",
  components: { UpperNavigationBar }
})
export default class AdminDashboardComponent extends BaseComponent {
/**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.checkIfSessionValid()
      .then((goOn: boolean) => {
        if (goOn) {
          return;
        } else {
          this.$router.push("login");
        }
      })
      .catch(() => {
          this.$router.push("login");       
      });
  }
}
</script>

<style scoped>
#imgLogo {
  height: 250px;
}
</style>