<template>
  <div>
    <!-- TEMPLATE HERE -->
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { LocalStorageKeys, DataResponse, Session, ResponseResult } from "../models/models";
import IBaseComponent from "./IBaseComponent.vue";
import axios, { AxiosResponse } from "axios";

export default class BaseComponent extends Vue implements IBaseComponent {
  /**
   * Session GUID
   */
  public sessionKey = new Session();
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    return;
  }
  /**
   * Lazy checks if the cached session is valid
   */
  checkIfSessionValid(): Promise<boolean> {
    if (localStorage.getItem(LocalStorageKeys.loginSessionKey) != null) {
      const sessionStored = JSON.parse(
        localStorage.getItem(LocalStorageKeys.loginSessionKey)!
      );
      const uri=
        process.env.VUE_APP_API_BASE_URL +
        "Session/IsSessionValid?sessionId=" +
        sessionStored.sessionID;
      return axios
        .get(uri)
        .then((response: AxiosResponse<DataResponse<Session>>) => {
          const vmResponse: DataResponse<Session> = response.data;
          if (vmResponse.result == ResponseResult.Success && vmResponse.data) {
            const sessionRetrieved = vmResponse.data;
            if (sessionRetrieved.isValid) {
              this.sessionKey = vmResponse.data;
              return true;
            } else {
              return false;
            }
          } else {
            return false;
          }
        })
        .catch(() => {
          return false;
        });
    } else {
      return Promise.reject(false);
    }
  }
}
</script>