<template>
  <div class="home">
    <div class="it-header-center-wrapper it-small-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a>
                  <img class="icon" alt="Vue logo" src="../assets/cashier.png" />

                  <div class="it-brand-text">
                    <h2 class="no_toc">OSCash</h2>
                    <h3 class="no_toc d-none d-md-block">Laboratorio di Progettazione</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img id="imgLogo" alt="Vue logo" src="../assets/cashier.png" />
    <h2>Benvenuto in OSCash</h2>
    <router-link to="/login" tag="button" class="btn btn-primary">Inizia</router-link>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {}
};
</script>

<style scoped>
#imgLogo {
  height: 250px;
}
</style>