<template>
    <div>
    <!-- TEMPLATE HERE -->
    </div>
</template>
<script lang="ts">

import Vue from 'vue';

export default interface BaseComponent extends Vue {
    /**
     * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
     * Do viewmodels objects initialization here!
     */
    mounted() : void;
    /**
     * Checks session validity
     */
    checkIfSessionValid() : Promise<boolean>;
}
</script>