<template>
  <div class="home">
    <div class="it-header-center-wrapper it-small-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a>
                  <img class="icon" alt="Vue logo" src="../assets/cashier.png" />
                  <div class="it-brand-text">
                    <h2 class="no_toc">OSCash</h2>
                    <h3 class="no_toc d-none d-md-block">Laboratorio di Progettazione</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <img id="imgLogo" alt="Vue logo" src="../assets/cashier.png" />
      <h2>Benvenuto in OSCash</h2>
      <LoginForm @loginSuccessful="sessionKey = $event;" @loginError="error = $event;"></LoginForm>
      <small id="passwordHelpBlock" class="form-text text-muted">{{error}}</small>
    </div>
  </div>
</template>
<script lang="ts">
import { Component } from "vue-property-decorator";
import { LocalStorageKeys } from "../models/models";
import LoginForm from "../components/LoginForm.vue";
import BaseComponent from "./BaseComponent.vue";

@Component({
  name: "login",
  components: { LoginForm }
})
export default class LoginComponent extends BaseComponent {
  /**
   * Error message
   */
  private error = "";
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.checkIfSessionValid()
      .then((goOn: boolean) => {
        if (goOn) {
          if (this.sessionKey.user && this.sessionKey.user.userType && this.sessionKey.user.userType.isAdmin) {
            this.$router.push("adminDashBoard");
          } else {
            this.$router.push("receipt");
          }
        } else {
          this.$watch(
            () => {
              return this.sessionKey;
            },
            newVal => {
              localStorage.setItem(
                LocalStorageKeys.loginSessionKey,
                JSON.stringify(newVal)
              );
              if (
                newVal.user &&
                newVal.user.userType &&
                newVal.user.userType.isAdmin != null
              ) {
                if (newVal.user.userType.isAdmin) {
                  this.$router.push("adminDashboard");
                } else {
                  this.$router.push("receipt");
                }
              }
            }
          );
        }
      })
      .catch(() => {
        this.$watch(
          () => {
            return this.sessionKey;
          },
          newVal => {
            localStorage.setItem(
              LocalStorageKeys.loginSessionKey,
              JSON.stringify(newVal)
            );
            if (
              newVal.user &&
              newVal.user.userType &&
              newVal.user.userType.isAdmin != null
            ) {
              if (newVal.user.userType.isAdmin) {
                this.$router.push("adminDashboard");
              } else {
                this.$router.push("receipt");
              }
            }
          }
        );
      });
  }
}
</script>
<style scoped>
#imgLogo {
  height: 125px;
}
</style>