<template>
  <div id="app">
    <UpperNavigationBar pageTitle="Preordine" :sessionKey="sessionKey" @session="sessionKey = $event;"></UpperNavigationBar>

    <div class="container pt-4" v-if="!noReceipt()">
      <span class="display-3">Aggiungi gli articoli dalla pagina prodotti</span>
    </div>

    <div class="container" id="bodyLists">
      <!-- Product list section -->
      <div class="container it-list-wrapper pt-2" v-if="noProducts()">
        <div class="text-left">
          <span class="display-4">Prodotti</span>
        </div>
        <ul class="it-list">
          <li
            class="col-12 list-group-item mb-2 p-2"
            v-bind:key="product.productID"
            v-for="product in this.productsSelected"
          >
            <a class="m-0 p-0">
              <div class="avatar m-0 p-0">
                <img src="https://randomuser.me/api/portraits/women/41.jpg" alt />
              </div>
              <div class="p-1 container-fluid text-left">
                <span class="display-5">{{product.product.name}}</span>
              </div>
              <div class="container-fluid">
                <span class>Num: {{product.amount}}</span>
              </div>
              <div class="container-fluid">
                <button type="button" class="btn p-1" @click="changeItemAmount(product, 1)">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-plus" />
                    </svg>
                  </a>
                </button>

                <button type="button" class="btn p-1" :disabled="product.amount>=2 ? false:true" @click="changeItemAmount(product, -1) ">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-minus" />
                    </svg>
                  </a>
                </button>

                <!-- Funzionalità da pianificare per lo sprint 2 -->
                <!-- <button type="button" class="btn p-1" @click="editNoteProduct()" v-if="false">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-note" />
                    </svg>
                  </a>
                </button> -->

                <button type="button" class="btn p-1" @click="removeProduct(product)">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-delete" />
                    </svg>
                  </a>
                </button>
              </div>
            </a>

            <div class="border" v-if="false">
              <p class="text-left">Note: note relative al prodotto</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Menu list section -->
      <div class="container-fluid it-list-wrapper pt-2" v-if="noMenus()">
        <div class="text-left">
          <span class="display-4">Menu</span>
        </div>
        <ul class="it-list">
          <li
            class="col-12 list-group-item mb-2 p-2"
            v-bind:key="menu.menuID"
            v-for="menu in this.menusSelected"
          >
            <a class="m-0 p-0">
              <div class="avatar m-0 p-0">
                <img src="https://randomuser.me/api/portraits/women/41.jpg" alt />
              </div>
              <div class="p-1 container-fluid text-left">
                <span class="display-5">{{menu.menu.name}}</span>
              </div>
              <div class="container-fluid">
                <span class>Num: {{menu.amount}}</span>
              </div>
              <div class="container-fluid">
                <button type="button" class="btn p-1" @click="changeItemAmount(menu, 1)">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-plus" />
                    </svg>
                  </a>
                </button>

                <button type="button" class="btn p-1" :disabled="menu.amount>=2 ? false:true" @click="changeItemAmount(menu, -1)">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-minus" />
                    </svg>
                  </a>
                </button>

                <button type="button" class="btn p-1" @click="editMenu()">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-pencil" />
                    </svg>
                  </a>
                </button>

                <button type="button" class="btn p-1" @click="removeMenu(menu)">
                  <a>
                    <svg class="icon">
                      <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-delete" />
                    </svg>
                  </a>
                </button>
              </div>
            </a>

            <div class="border" v-if="false">
              <p class="text-left">Note: note relative al prodotto</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Section proceed to final receipt -->
      <div class="container-fluid btn-default m-2 p-2" v-if="noReceipt()">
        <button @click="confirmReceipt()">
          <svg class="icon m-2">
            <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-check-circle" />
          </svg>
          <span class="m-2">Conferma lista prodotti</span>
        </button>
      </div>
    </div>

    <ReceiptResumeBar
      v-bind:receiptNotes="notes"
      v-bind:totalPrice="totalPrice"
      v-bind:totalPieces="totalPieces"
      @update="notes = $event;"
    ></ReceiptResumeBar>

    <!-- Navigation bottom bar -->
    <div class="container-fluid">
      <BottomNavigationBar></BottomNavigationBar>
    </div>

  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import {
  ProductReceipt,
  MenuReceipt,
  LocalStorageKeys,
} from "../models/models";
import BaseComponent from "./BaseComponent.vue";
import ReceiptResumeBar from "../components/ReceiptResumeBar.vue";
import UpperNavigationBar from "../components/UpperNavigationBar.vue";
import BottomNavigationBar from "../components/BottomNavigationBar.vue";
import router from '../router';

// The @Component decorator indicates the class is a Vue component
@Component({
  name: "product_list",
  components: { UpperNavigationBar, BottomNavigationBar, ReceiptResumeBar }
})
export default class ProductSelectionComponent extends BaseComponent {
  /**
   * Selected products in receipt
   */
  private productsSelected: ProductReceipt[] = [];
  /**
   * Selected menus in receipt
   */
  private menusSelected: MenuReceipt[] = [];
  /**
   * Receipt notes
   */
  private notes = "";
  /**
   * Check if there is receipt
   */
  private noReceipt(): boolean {
    return this.productsSelected.length + this.menusSelected.length > 0
      ? true
      : false;
  }
  /**
   * Check if there is Products
   */
  private noProducts(): boolean {
    return this.productsSelected.length > 0 ? true : false;
  }
  /**
   * Check if there is Menus
   */
  private noMenus(): boolean {
    return this.menusSelected.length > 0 ? true : false;
  }
  /**
   * Getter of total receipt price
   */
  get totalPrice(): number {
    let totalPrice = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPrice +=
          productAssociation.product.price * productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPrice += menuAssociation.menu.price * menuAssociation.amount;
      }
    });
    return totalPrice;
  }
  /**
   * Getter of total pieces
   */
  get totalPieces(): number {
    let totalPieces = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPieces += productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPieces += menuAssociation.amount;
      }
    });
    return totalPieces;
  }

  /**
   * Edit product from productsSelected
   */
  private editNoteProduct(product: ProductReceipt) {
    //console.log("edit note product");
  }
  /**
   * Edit product from productsSelected
   */
  private editMenu(product: ProductReceipt) {
    //console.log("edit menu");
  }
  /**
   * Remove a product association to current associated
   */
  private removeProduct(productAssociation: ProductReceipt) {
    if (productAssociation) {
      if (this.productsSelected) {
        // Assign a filtered array to original array
        this.productsSelected = this.productsSelected.filter(
          productSelected => productSelected != productAssociation
        );
      }
    }
    this.saveToLocalStorage();
  }
  /**
   * Remove a menu association to current associated
   */
  private removeMenu(menuAssociation: MenuReceipt) {
    if (menuAssociation) {
      if (this.menusSelected) {
        // Assign a filtered array to original array
        this.menusSelected = this.menusSelected.filter(
          menuSelected => menuSelected != menuAssociation
        );
      }
    }
    this.saveToLocalStorage();
  }

  /**
   * Change the amount of a menu or prod in receipt
   */
  private changeItemAmount(item: ProductReceipt | MenuReceipt, amount: number) {
    if (amount != null && item && item.amount != null) {
      if (!(item.amount > 0) && amount < 0) {
        return;
      }
      item.amount += amount;
    }
    this.saveToLocalStorage();
  }
  /**
   * Save products and menus to LocalStorage
   */
  private saveToLocalStorage() {
    localStorage.setItem(
      LocalStorageKeys.productsSelectedList,
      JSON.stringify(this.productsSelected)
    );
    localStorage.setItem(
      LocalStorageKeys.menusSelectedList,
      JSON.stringify(this.menusSelected)
    );
    if (this.notes) {
      localStorage.setItem(LocalStorageKeys.receiptNotes, this.notes)
    }
  }
  /**
   * load products and menus from internal local storage
   */
  private loadFromInternalStorage() {
    if (localStorage.getItem(LocalStorageKeys.productsSelectedList))
      this.productsSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.productsSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.menusSelectedList))
      this.menusSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.menusSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.receiptNotes))
      this.notes = localStorage.getItem(LocalStorageKeys.receiptNotes)!
  }
  /**
   * Send products list to backend and get receipt
   */
  private confirmReceipt() {        
    if (!this.noReceipt()) {      
      alert("Si è verificato un errore, riprova.");
    }else{
      router.push('/ticket');
    }
  }
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.checkIfSessionValid()
      .then((goOn: boolean) => {
        if (goOn) {
          this.loadFromInternalStorage();
        } else {
          this.$router.push("login");
        }
      })
    .catch(() => {
      this.$router.push("login");
    });
  }
  /**
   * OnComponentDestroy : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels last operations here!
   */
  destroyed() {
    if (this.notes) {
      localStorage.setItem(LocalStorageKeys.receiptNotes, this.notes);
    }
  }
}
</script>
<style scoped>
#bodyLists {
  padding-bottom: 100px;
}
#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}
.bottomNavBar {
  position: fixed;
}
</style>