<template>
  <div id="app">
    <UpperNavigationBar pageTitle="Seleziona Prodotti" :sessionKey="sessionKey" @session="sessionKey = $event;"></UpperNavigationBar>

    <div class="container">
      <div class="btn-group d-none d-sm-block d-md-none">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tipologia
          <svg class="icon-expand icon icon-sm icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand" />
          </svg>
        </button>
        <div class="dropdown-menu">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li :key="fakeMenuType.productTypeID">
                <a
                  class="list-item"
                  href="#"
                  @click="$event.preventDefault(); selectType(fakeMenuType)"
                >
                  <span>{{fakeMenuType.name}}</span>
                </a>
              </li>
              <li v-for="type in productTypes" :key="type.productTypeID">
                <a class="list-item" href="#" @click="$event.preventDefault(); selectType(type)">
                  <span>{{type.name}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs auto">
        <li :key="fakeMenuType.productTypeID" class="nav-item active">
          <a
            class="nav-link"
            href="#"
            @click="$event.preventDefault(); selectType(fakeMenuType)"
            data-toggle="tab"
          >{{fakeMenuType.name}}</a>
        </li>
        <li v-for="type in productTypes" :key="type.productTypeID" class="nav-item">
          <a
            class="nav-link"
            href="#"
            @click="$event.preventDefault(); selectType(type)"
            data-toggle="tab"
          >{{type.name}}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div v-for="type in productTypes" :key="type.productTypeID">
          <div class="tab-pane" v-if="isCurrentProductType(type)">
            <div class="row">
              <div
                class="col-12 col-lg-4"
                v-for="prod in productsOfCurrentType()"
                :key="prod.productID"
              >
                <div class="card-wrapper card-space" @click="selectProduct(prod)">
                  <div class="card card-bg" :class="{ 'card-disabled' : !isProductAvalaible(prod)}">
                    <div class="card-body">
                      <h5 class="card-title">{{prod.name}}</h5>
                      <p class="card-text">{{prod.price | currency("€")}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div :key="fakeMenuType.productTypeID">
          <div class="tab-pane" v-if="isCurrentProductType(fakeMenuType)">
            <div class="row">
              <div class="col-12 col-lg-4" v-for="menu in menus" :key="menu.menuID">
                <div class="card-wrapper card-space" @click="selectMenu(menu)">
                  <div class="card card-bg" :class="{ 'card-disabled' : !isMenuAvalaible(menu)}">
                    <div class="card-body">
                      <h5 class="card-title">{{menu.name}}</h5>
                      <p class="card-text">{{menu.price | currency("€")}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ReceiptResumeBar
      v-bind:receiptNotes="notes"
      v-bind:totalPrice="totalPrice"
      v-bind:totalPieces="totalPieces"
      @update="notes = $event;"
    ></ReceiptResumeBar>

    <!-- Navigation bottom bar -->
    <div class="container-fluid">
      <BottomNavigationBar class="bottomNavBar"></BottomNavigationBar>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import {
  Product,
  ProductType,
  Menu,
  DataResponse,
  ProductReceipt,
  Receipt,
  Guid,
  MenuReceipt,
  LocalStorageKeys
} from "../models/models";
import axios, { AxiosResponse } from "axios";
import BaseComponent from "./BaseComponent.vue";
import ReceiptResumeBar from "../components/ReceiptResumeBar.vue";
import UpperNavigationBar from "../components/UpperNavigationBar.vue";
import BottomNavigationBar from "../components/BottomNavigationBar.vue";
import router from "../router";

// The @Component decorator indicates the class is a Vue component
@Component({
  name: "receipt",
  components: { UpperNavigationBar, BottomNavigationBar, ReceiptResumeBar }
})
export default class ReceiptComponent extends BaseComponent {
  private fakeMenuType: ProductType = {
    productTypeID: Guid.newGuid(),
    name: "Menu"
  };
  /**
   * Receipt to save
   */
  private receipt = new Receipt();
  /**
   * Menus
   */
  private menus: Menu[] = [];
  /**
   * Products
   */
  private products: Product[] = [];
  /**
   * Product Types
   */
  private productTypes: ProductType[] = [];
  /**
   * Current displayed type
   */
  private currentProductType = new ProductType();
  /**
   * Selected products in receipt
   */
  private productsSelected: ProductReceipt[] = [];
  /**
   * Selected menus in receipt
   */
  private menusSelected: MenuReceipt[] = [];
  /**
   * Notes of receipt
   */
  private notes = "";
  /**
   * Getter of total receipt price
   */
  get totalPrice(): number {
    let totalPrice = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPrice +=
          productAssociation.product.price * productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPrice += menuAssociation.menu.price * menuAssociation.amount;
      }
    });
    return totalPrice;
  }
  /**
   * Getter of total pieces
   */
  get totalPieces(): number {
    let totalPieces = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPieces += productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPieces += menuAssociation.amount;
      }
    });
    return totalPieces;
  }
  /**
   * Save products and menus to LocalStorage
   */
  private saveToLocalStorage() {
    localStorage.setItem(
      LocalStorageKeys.productsSelectedList,
      JSON.stringify(this.productsSelected)
    );
    localStorage.setItem(
      LocalStorageKeys.menusSelectedList,
      JSON.stringify(this.menusSelected)
    );
  }
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.checkIfSessionValid()
      .then((goOn: boolean) => {
        if (goOn) {
          this.receipt.receiptID = Guid.newGuid().toString();
          this.receipt.totalPrice = 0;
          this.loadProducts();
          this.loadProductTypes();
          this.loadMenus();
          this.loadFromInternalStorage();
          this.selectType(this.fakeMenuType);
        } else {
          router.push("login");
        }
      })
      .catch(() => {
        router.push("login");       
      });
  }
  /**
   * Add a item price to receipt total price
   */
  private addReceiptPrice(priceToAdd: number) {
    if (!this.receipt.totalPrice) {
      this.receipt.totalPrice = 0;
    }
    this.receipt.totalPrice += priceToAdd;
  }
  /**
   * Load all products from webapi
   */
  private loadProducts(): void {
    const uri =
      process.env.VUE_APP_API_BASE_URL +
      "Product/Get";
    axios
      .get(uri)
      .then((response: AxiosResponse<DataResponse<Product[]>>) => {
        const vmResponse: DataResponse<Product[]> = response.data;
        if (vmResponse.data) {
          this.products = vmResponse.data;
        } else {
          this.products = [];
        }
      })
      .catch((error: AxiosResponse<DataResponse<Product[]>>) => {
        if (error) {
          const vmResponse: DataResponse<Product[]> = error.data;
          this.products = [];
          if (vmResponse) {
            alert(vmResponse.message);
            return;
          }
        }
        alert("Generic error while calling " + uri);
      });
  }
  /**
   * Load all product types from webapi
   */
  private loadProductTypes(): void {
    const uri =
      process.env.VUE_APP_API_BASE_URL +
      "ProductType/Get";
    axios
      .get(uri)
      .then((response: AxiosResponse<DataResponse<ProductType[]>>) => {
        const vmResponse: DataResponse<ProductType[]> = response.data;
        if (vmResponse.data) {
          this.productTypes = vmResponse.data;
        } else {
          this.productTypes = [];
        }
      })
      .catch((error: AxiosResponse<DataResponse<ProductType[]>>) => {
        if (error) {
          const vmResponse: DataResponse<ProductType[]> = error.data;
          this.products = [];
          if (vmResponse) {
            alert(vmResponse.message);
            return;
          }
        }
        alert("Generic error while calling " + uri);
      });
  }
  /**
   * Load all menus from webapi
   */
  private loadMenus(): void {
    const uri =
      process.env.VUE_APP_API_BASE_URL +
      "Menu/Get";
    axios
      .get(uri)
      .then((response: AxiosResponse<DataResponse<Menu[]>>) => {
        const vmResponse: DataResponse<Menu[]> = response.data;
        if (vmResponse.data) {
          this.menus = vmResponse.data;
        } else {
          this.menus = [];
        }
        // Debug purpose
        // alert("Correct call to " + uri);
      })
      .catch((error: AxiosResponse<DataResponse<Menu[]>>) => {
        if (error) {
          const vmResponse: DataResponse<Menu[]> = error.data;
          this.menus = [];
          if (vmResponse) {
            alert(vmResponse.message);
            return;
          }
        }
        alert("Generic error while calling " + uri);
      });
  }
  /**
   * load products and menus from internal local storage
   */
  private loadFromInternalStorage() {
    if (localStorage.getItem(LocalStorageKeys.productsSelectedList) != null)
      this.productsSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.productsSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.menusSelectedList) != null)
      this.menusSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.menusSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.receiptNotes) != null) {
        this.notes = localStorage.getItem(LocalStorageKeys.receiptNotes)!;
    }
  }
  /**
   * Push a new ProductReceipt in productsSelected
   */
  private selectProduct(productSelected: Product): void {
    if (!this.isProductAvalaible(productSelected)) {
      return;
    }
    if (productSelected && productSelected.price) {
      const alreadyAddedProduct = this.productsSelected.find(productReceipt => {
        if (productReceipt.product) {
          return productReceipt.product.productID === productSelected.productID;
        } else {
          return false;
        }
      });
      if (alreadyAddedProduct && alreadyAddedProduct.amount) {
        alreadyAddedProduct.amount++;
      } else {
        const productAssociation = new ProductReceipt();
        productAssociation.product = productSelected;
        productAssociation.receipt = this.receipt;
        productAssociation.receipt.notes = this.notes;
        productAssociation.amount = 1;
        this.productsSelected.push(productAssociation);
      }
      this.addReceiptPrice(productSelected.price);
    }
    this.saveToLocalStorage();
  }
  /**
   * Push a new MenuReceipt in MenuSelected
   */
  private selectMenu(menuSelected: Menu): void {
    if (!this.isMenuAvalaible(menuSelected)) {
      return;
    }
    if (menuSelected && menuSelected.price) {
      const alreadyAddedMenu = this.menusSelected.find(menuReceipt => {
        if (menuReceipt.menu) {
          return menuReceipt.menu.menuID === menuSelected.menuID;
        } else {
          return false;
        }
      });
      if (alreadyAddedMenu && alreadyAddedMenu.amount) {
        alreadyAddedMenu.amount++;
      } else {
        const menuAssociation = new MenuReceipt();
        menuAssociation.menu = menuSelected;
        menuAssociation.receipt = this.receipt;
        menuAssociation.receipt.notes = this.notes;
        menuAssociation.amount = 1;
        this.menusSelected.push(menuAssociation);
      }
      this.addReceiptPrice(menuSelected.price);
    }
    this.saveToLocalStorage();
  }
  /**
   * Remove a product association to current associated
   */
  private removeProduct(productAssociation: ProductReceipt) {
    if (productAssociation) {
      if (this.productsSelected) {
        // Assign a filtered array to original array
        this.productsSelected = this.productsSelected.filter(
          productSelected => productSelected != productAssociation
        );
      }
    }
    this.saveToLocalStorage();
  }
  /**
   * Remove a menu association to current associated
   */
  private removeMenu(menuAssociation: MenuReceipt) {
    if (menuAssociation) {
      if (this.menusSelected) {
        // Assign a filtered array to original array
        this.menusSelected = this.menusSelected.filter(
          menuSelected => menuSelected != menuAssociation
        );
      }
    }
    this.saveToLocalStorage();
  }
  /**
   * Save a complete receipt
   */
  private saveReceipt() {
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.productID
      ) {
        productAssociation.productID = productAssociation.product.productID;
        productAssociation.product = undefined;
      }
      if (
        productAssociation &&
        productAssociation.receipt &&
        productAssociation.receiptID
      ) {
        productAssociation.receiptID = productAssociation.receipt.receiptID;
        productAssociation.receipt = undefined;
      }
    });
    this.receipt.productsAssociated = this.productsSelected;
    this.saveToLocalStorage();
  }
  /**
   * Select type event
   */
  private selectType(type: ProductType) {
    this.currentProductType = type;
  }
  /**
   * Check if product is avalaible
   */
  private isProductAvalaible(prod: Product) {
    if (prod && prod.avalaible && prod.stockAvalaible) {
      return prod.avalaible === true && prod.stockAvalaible > 0;
    } else {
      return false;
    }
  }
  /**
   * Checks if menu is avalaible
   */
  private isMenuAvalaible(menu: Menu) {
    if (
      menu &&
      menu.avalaible &&
      menu.avalaible === true &&
      menu.productsAssociated
    ) {
      return menu.productsAssociated.every(association => {
        if (association && association.productID) {
          const prod = this.products.find(
            prod => prod.productID == association.productID
          );
          if (prod) {
            return this.isProductAvalaible(prod);
          } else {
            return false;
          }
        } else {
          return false;
        }
      });
    } else {
      return false;
    }
  }
  /**
   * If the current selected type is type of div (line 46)
   */
  private isCurrentProductType(type: ProductType): boolean {
    return type.productTypeID === this.currentProductType.productTypeID;
  }
  /**
   * Get product of current selected type
   */
  private productsOfCurrentType(): Product[] {
    if (this.products) {
      return this.products.filter(
        prod => prod.productTypeID === this.currentProductType.productTypeID
      );
    } else {
      return [];
    }
  }
  /**
   * Return a product name based on his id
   */
  private productNameById(productId: string): string {
    if (productId) {
      const prod = this.products.find(prod => prod.productID === productId);
      if (prod && prod.name) {
        return prod.name;
      } else {
        return "";
      }
    } else {
      return "";
    }
  }
  /**
   * OnComponentDestroy : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels last operations here!
   */
  destroyed() {
    if (this.notes) {
      localStorage.setItem("receiptNotes", this.notes);
    }
  }
}
</script>
<style scoped>
.bottomNavBar {
  position: fixed;
}
.receipt {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  border: 3px solid #0066cc;
}
.card {
  cursor: pointer;
  border: 3px solid #0066cc;
}
.card-disabled {
  background-color: #5c6f82 !important;
  cursor: not-allowed;
}
</style>