<template>
  <div id="app">
    <UpperNavigationBar pageTitle="Scontrino" :sessionKey="sessionKey"></UpperNavigationBar>

    <div class="container pt-4">
      <div class="font-weight-bold">Operatore: {{sessionKey.user.name}}</div>
      <div class="container">
        <span>Data: {{nowDate}} - {{nowTime}}</span>
      </div>
    </div>

    <div class="container-fluid pt-4" v-if="!noReceipt()">
      <span class="display-3">Attenzione errore imprevisto</span>
    </div>

    <div class="container" id="bodyLists">
      <!-- Product list section -->
      <div class="container it-list-wrapper pt-2" v-if="noProducts()">
        <div class="text-left">
          <span class="display-4">Prodotti</span>
        </div>
        <ul class="it-list">
          <li
            class="col-12 list-group-item mb-2 p-2"
            v-bind:key="product.productID"
            v-for="product in this.productsSelected"
          >
            <a class="m-0 p-0">
              <div class="p-1 container-fluid text-left">
                <span class="display-5">{{product.product.name}}</span>
              </div>
              <div class="container-fluid">
                <span class>Num: {{product.amount}}</span>
              </div>
              <div class="container-fluid">
                <span class>Prezzo: {{product.product.price| currency("€")}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- Menu list section -->
      <div class="container-fluid it-list-wrapper pt-2" v-if="noMenus()">
        <div class="text-left">
          <span class="display-4">Menu</span>
        </div>
        <ul class="it-list">
          <li
            class="col-12 list-group-item mb-2 p-2"
            v-bind:key="menu.menuID"
            v-for="menu in this.menusSelected"
          >
            <a class="m-0 p-0">
              <div class="p-1 container-fluid text-left">
                <span class="display-5">{{menu.menu.name}}</span>
              </div>
              <div class="container-fluid">
                <span class>Num: {{menu.amount}}</span>
              </div>
              <div class="container-fluid">
                <span class>Prezzo: {{menu.menu.price| currency("€")}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!-- Receipt list section -->
      <div class="container it-list-wrapper pt-2">
        <div class="text-left">
          <span class="display-4">Note aggiuntive</span>
          <div>{{receiptNote}}</div>
        </div>
      </div>

      <!-- Section apply discount -->
      <div class="container-fluid btn-default m-2 p-2" v-if="noReceipt()">
        <button data-toggle="modal" data-target="#applyDiscountModal">
          <svg class="icon m-2">
            <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-box" />
          </svg>
          <span class="m-2">Applica sconto</span>
        </button>
      </div>

      <!-- Section proceed to final receipt -->
      <div class="container-fluid btn-default m-2 p-2" v-if="noReceipt()">
        <button
          @click="checkLists()"
          data-toggle="modal"
          data-target="#confirmReceiptModal"
          v-if="!alreadyPayed"
        >
          <svg class="icon m-2">
            <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-card" />
          </svg>
          <span class="m-2">Procedi al pagamento</span>
        </button>
      </div>
    </div>

    <!-- Section Resume bar -->
    <div class="container-fluid p-4 fixed-bottom bg-primary text-white" id="resumeBar">
      <div class="d-inline-flex">
        <span class="display-4 p-2 pr-3">Sconto: {{this.discount}}{{this.discountSymbol}}</span>
      </div>

      <div class="d-inline-flex">
        <span class="display-4 p-2 pr-3">Num. articoli: {{totalPieces}}</span>
      </div>

      <div class="d-inline-flex">
        <span class="display-4 p-2 pl-3">Totale: {{this.totalPriceReceipt | currency("€")}}</span>
      </div>
    </div>

    <!-- Section apply discount modal pane -->
    <div class="modal fade" tabindex="-1" role="dialog" type="modal" id="applyDiscountModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Applica sconto</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <span class="p-2">Modalità:</span>
                <div class="form-column">
                  <!-- Default checked radio button-->
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="percentualDiscount"
                      name="discountMode"
                      value="percentualMode"
                      @change="changeDiscountMode()"
                      v-model="discountModeModel"
                      checked
                    />
                    <label class="custom-control-label" for="percentualDiscount">Sconto percentuale</label>
                  </div>

                  <!-- Default unchecked radio button-->
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="moneyDiscount"
                      name="discountMode"
                      value="moneyMode"
                      v-model="discountModeModel"
                      @change="changeDiscountMode()"
                    />
                    <label class="custom-control-label" for="moneyDiscount">Sconto in Euro</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <label class="custom-control-label p-2" for="discountInputText">Sconto:</label>
                <input
                  type="number"
                  class="form-control"
                  id="discountInputText"
                  min="0"
                  :max="this.max"
                  :step="this.step"
                  v-model="discount"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              @click="resetDiscount()"
            >Annulla</button>
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              @click="applyDiscount()"
            >Applica</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section confirm receipt modal pane -->
    <div class="modal fade" tabindex="-1" role="dialog" type="modal" id="confirmReceiptModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sei sicuro di voler procedere al pagamento?</h5>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">Annulla</button>
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              data-toggle="modal"
              data-target="#ticketModal"
              @click="proceedToPayment()"
            >CONFERMA</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section ticket success modal pane -->
    <div class="modal fade" tabindex="-1" role="dialog" type="modal" id="ticketModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ticketConfirmationMessage}}</h5>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              data-toggle="modal"
              data-target="#kitchenOrderModal"
              v-if="webapiResponse"
            >OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section send order to kitchenmodal pane -->
    <div class="modal fade" tabindex="-1" role="dialog" type="modal" id="kitchenOrderModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Vuoi inviare l'ordine alla cucina?</h5>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              @click="gotoHome()"
            >No</button>
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#orderStatusModal"
              type="button"
              @click="sendOrderToKitchen()"
            >Sì</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section order success modal pane -->
    <div class="modal fade" tabindex="-1" role="dialog" type="modal" id="orderStatusModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{orderConfirmationMessage}}</h5>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary btn-sm"
              data-dismiss="modal"
              type="button"
              @click="gotoHome()"
              v-if="webapiResponse"
            >OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import {
  ProductReceipt,
  Receipt,
  MenuReceipt,
  LocalStorageKeys,
  Order,
  Response,
  Session
} from "../models/models";
import axios, { AxiosResponse } from "axios";
import BaseComponent from "./BaseComponent.vue";
import UpperNavigationBar from "../components/UpperNavigationBar.vue";
import BottomNavigationBar from "../components/BottomNavigationBar.vue";
import router from "../router";

// The @Component decorator indicates the class is a Vue component
@Component({
  name: "ticket",
  components: { UpperNavigationBar, BottomNavigationBar }
})
export default class ProductSelectionComponent extends BaseComponent {
  private totalPriceReceipt = 0;
  private discountSymbol = "%";
  private discountModeModel = "";
  private discount = 0.0;
  private ticketConfirmationMessage = "Elaborazione...";
  private orderConfirmationMessage = "Elaborazione...";
  private webapiResponse = false;
  private max = 100;
  private step = 0.01;
  private alreadyPayed = false;
  private loginSession?: Session;
  private receiptNote = "Nessuna nota aggiuntiva";
  /**
   * Selected products in receipt
   */
  private productsSelected: ProductReceipt[] = [];
  /**
   * Selected menus in receipt
   */
  private menusSelected: MenuReceipt[] = [];
  /**
   * Receipt
   */
  private receipt = new Receipt();
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.checkIfSessionValid()
      .then((goOn: boolean) => {
        if (goOn) {
          this.loadFromInternalStorage();
          this.getTotalPrice();
        } else {
          this.$router.push("login");
        }
      })
      .catch(() => {
        this.$router.push("login");
      });
  }
  /**
   * Getter now locale date
   */
  get nowDate(): string {
    return new Date().toLocaleDateString();
  }
  /**
   * Getter now locale time
   */
  get nowTime(): string {
    return new Date().toLocaleTimeString();
  }
  /**
   * Redirect to Receipt
   */
  private gotoHome() {
    this.resetLocalStorage();
    if (this.loginSession != null) {
      if (this.loginSession?.user?.userType?.isAdmin == true) {
        router.push("/adminDashboard");
      } else {
        router.push("/receipt");
      }
    }
  }
  /**
   * Check if there is receipt
   */
  private noReceipt(): boolean {
    try {
      return this.productsSelected.length + this.menusSelected.length > 0
        ? true
        : false;
    } catch (error) {
      //console.log(error);
      return false;
    }
  }
  /**
   * Check if there is Products
   */
  private noProducts(): boolean {
    try {
      return this.productsSelected.length > 0 ? true : false;
    } catch (error) {
      //console.log(error);
      return false;
    }
  }
  /**
   * Check if there is Menus
   */
  private noMenus(): boolean {
    try {
      return this.menusSelected.length > 0 ? true : false;
    } catch (error) {
      //console.log(error);
      return false;
    }
  }
  /**
   * Getter of total receipt price
   */
  private getTotalPrice(): number {
    let totalPrice = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPrice +=
          productAssociation.product.price * productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPrice += menuAssociation.menu.price * menuAssociation.amount;
      }
    });
    this.totalPriceReceipt = totalPrice;
    return this.totalPriceReceipt;
  }
  /**
   * Getter of total pieces
   */
  get totalPieces(): number {
    let totalPieces = 0;
    this.productsSelected.map(productAssociation => {
      if (
        productAssociation &&
        productAssociation.product &&
        productAssociation.product.price &&
        productAssociation.amount
      ) {
        totalPieces += productAssociation.amount;
      }
    });
    this.menusSelected.map(menuAssociation => {
      if (
        menuAssociation &&
        menuAssociation.menu &&
        menuAssociation.menu.price &&
        menuAssociation.amount
      ) {
        totalPieces += menuAssociation.amount;
      }
    });
    return totalPieces;
  }
  /**
   * Change discount mode
   */
  private changeDiscountMode() {
    if (this.discountModeModel == "percentualMode" && this.discount >= 0) {
      this.resetDiscount();
      this.max = 100;
      this.step = 1;
    } else if (this.discountModeModel == "moneyMode" && this.discount >= 0) {
      this.resetDiscount();
      this.max = this.getTotalPrice();
      this.step = 0.01;
    }
  }
  /**
   * Apply discount for ticket
   */
  private applyDiscount() {
    this.totalPriceReceipt = this.getTotalPrice();
    if (this.discountModeModel == "percentualMode" && this.discount >= 0) {
      this.discount = this.round(this.discount.toString(), "2");
      if (
        this.totalPriceReceipt -
          (this.totalPriceReceipt / 100) * this.discount >=
        0
      ) {
        this.discountSymbol = "%";
        this.totalPriceReceipt =
          this.totalPriceReceipt -
          (this.totalPriceReceipt / 100) * this.discount;
      } else {
        //console.log("Discount value error");
        this.resetDiscount();
        alert("Valore sconto errato!");
      }
    } else if (this.discountModeModel == "moneyMode" && this.discount >= 0) {
      this.discount = this.round(this.discount.toString(), "2");
      if (this.totalPriceReceipt - this.discount >= 0) {
        this.discountSymbol = "€";
        this.totalPriceReceipt = this.totalPriceReceipt - this.discount;
      } else {
        //console.log("Discount value error");
        this.resetDiscount();
        alert("Valore sconto errato!");
      }
    } else {
      //console.log("error");
      this.resetDiscount();
      alert("Modalità sconto errata!");
    }
  }
  /**
   * Round function
   */
  private round(value: string, decimals: string): number {
    return Number(Math.round(Number(value + "e" + decimals)) + "e-" + decimals);
  }
  /**
   * reset discount
   */
  private resetDiscount() {
    this.discount = 0;
    this.getTotalPrice();
  }
  /**
   * Save products and menus to LocalStorage
   */
  private saveToLocalStorage() {
    localStorage.setItem(
      LocalStorageKeys.productsSelectedList,
      JSON.stringify(this.productsSelected)
    );
    localStorage.setItem(
      LocalStorageKeys.menusSelectedList,
      JSON.stringify(this.menusSelected)
    );
  }
  /**
   * load products and menus from internal local storage
   */
  private loadFromInternalStorage() {
    if (localStorage.getItem(LocalStorageKeys.productsSelectedList))
      this.productsSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.productsSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.menusSelectedList))
      this.menusSelected = JSON.parse(
        localStorage.getItem(LocalStorageKeys.menusSelectedList)!
      );
    if (localStorage.getItem(LocalStorageKeys.loginSessionKey))
      this.loginSession = JSON.parse(
        localStorage.getItem(LocalStorageKeys.loginSessionKey)!
      );
    if (localStorage.getItem(LocalStorageKeys.receiptNotes)){
      this.receiptNote = localStorage.getItem(LocalStorageKeys.receiptNotes)!
    }
      
      
  }
  /**
   * Check if products or menù lists aren't empty
   */
  private checkLists(): boolean {
    if (this.productsSelected.length + this.menusSelected.length <= 0) {
      //console.log("There was an error! no articles in lists");
      alert("Si è verificato un errore, riprova.");
      return false;
    } else return true;
  }
  /**
   * Call backend API to store new Receipt
   */
  private proceedToPayment(): void {
    if (!this.checkLists()) return;
    this.receipt.payed = true; //TODO every receipt is payied??
    this.receipt.productsAssociated = this.productsSelected;
    this.receipt.menusAssociated = this.menusSelected;
    this.receipt.discount = this.discount;
    this.receipt.totalPrice = this.round(
      this.totalPriceReceipt.toString(),
      "2"
    );

    const uri = "https://localhost:5001/Receipt/New";
    axios
      .post(uri, this.receipt)
      .then((response: AxiosResponse<Response>) => {
        const vmResponse: Response = response.data;
        // HTTP success!
        this.webapiResponse = true;
        this.ticketConfirmationMessage = "Pagamento Confermato!";
        this.receipt.receiptID = vmResponse.message;
        this.alreadyPayed = true;
        // Debug purpose
        //console.log(vmResponse);
      })
      .catch((error: AxiosResponse<Response>) => {
        if (error) {
          const vmResponse: Response = error.data;
          this.ticketConfirmationMessage = "Errore pagamento!";
          alert(vmResponse.message);
        }
        alert("Generic error while calling " + uri);
      });
  }
  /**
   * Send order to kitchen backend
   */
  private sendOrderToKitchen() {
    this.webapiResponse = false;
    this.orderConfirmationMessage = "Elaborazione...";
    if (!this.checkLists()) return;
    const kitchenOrder = new Order();
    kitchenOrder.receiptID = this.receipt.receiptID;
    kitchenOrder.receipt = this.receipt;

    const uri = "https://localhost:5001/Order/New";
    axios
      .post(uri, kitchenOrder)
      .then((response: AxiosResponse<Response>) => {
        const vmResponse: Response = response.data;
        // HTTP success!
        this.webapiResponse = true;
        this.orderConfirmationMessage = "Ordine inviato";
        this.resetLocalStorage();
        // Debug purpose
        //console.log(vmResponse);
      })
      .catch((error: AxiosResponse<Response>) => {
        if (error) {
          const vmResponse: Response = error.data;
          this.webapiResponse = true;
          this.ticketConfirmationMessage = "Errore Ordine!";
          alert(vmResponse.message);
        }
        alert("Generic error while calling " + uri);
      });
  }
  /**
   * Reset local storage lists
   */
  private resetLocalStorage() {
    localStorage.removeItem(LocalStorageKeys.productsSelectedList);
    localStorage.removeItem(LocalStorageKeys.menusSelectedList);
    localStorage.removeItem(LocalStorageKeys.receiptNotes);
  }
}
</script>
<style scoped>
#discountInputText {
  width: 100px;
}
#bodyLists {
  padding-bottom: 100px;
}
#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}
</style>