<template>
  <div>
    <nav class="bottom-nav">
      <ul>
        <li>
          <router-link to="/receipt">
            <img class="icon" src="../assets/products.png" alt />
            <span class="bottom-nav-label">Prodotti</span>
          </router-link>
        </li>
        <li>
          <router-link to="/product_list">
            <img class="icon" src="../assets/check-list.png" alt />
            <span class="bottom-nav-label">Lista</span>
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import {
  Product,
  ProductType,
  Menu,
  DataResponse,
  ProductReceipt,
  Receipt,
  Guid,
  MenuReceipt
} from "../models/models";

@Component
export default class BottomNavigationBar extends Vue {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
