
<template>
  <div class="login-form">
    <form @submit="onLogin">
      <div class="form-row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control"
            autocomplete="username"
            v-model="user"
            placeholder="Login"
          />
        </div>
        <div class="form-group col-md-3"></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
          <input
            type="password"
            class="form-control"
            autocomplete="current-password"
            v-model="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group col-md-3"></div>
      </div>
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
  DataResponse,
  Session,
  ResponseResult
} from "../models/models";
import axios, { AxiosResponse } from "axios";

@Component
export default class LoginForm extends Vue {
  /**
   * Notes of receipt
   */
  private user = "";
  /**
   * Total pieces of receipt
   */
  private password = "";
  /**
   * Login error
   */
  private error = "";
  /**
   * Session
   */
  private sessionKey = new Session();
  /**
   * Form submit handler
   */
  private onLogin(submit: Event) {
    this.$emit("loginError", "");
    submit.preventDefault();
    const uri =
      "http://localhost:5000/Session/Login?login=" +
      this.user +
      "&password=" +
      this.password;
    axios
      .post(uri)
      .then((response: AxiosResponse<DataResponse<Session>>) => {
        const vmResponse: DataResponse<Session> = response.data;
        if (vmResponse.result == ResponseResult.Success) {
          if (vmResponse.data) {
            this.sessionKey = vmResponse.data;
            this.$emit("loginSuccessful", this.sessionKey);
          } else {
            if (vmResponse.message) {
              this.$emit("loginSuccessful", vmResponse.message);
            }
          }
        } else {
          if (vmResponse.message) {
            this.$emit("loginError", vmResponse.message);
          }
        }
      })
      .catch((error: AxiosResponse<DataResponse<Session>>) => {
        if (error.data && error.data.message) {
          this.$emit("loginError", error.data.message);
        } else {
          this.$emit("loginError", "Errore generico durante il login.");
        }
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
