<template>
  <div class="receipt-resume-bar">
    <div class="container-fluid p-2 fixed-bottom bg-primary text-white" id="resumeBar">
      <div class="d-inline float-left">
        <span class="p-2 align-middle">Num. articoli: {{TotalPieces}}</span>
      </div>
      <div class="d-inline float-right">
        <span class="p-2 align-middle">
          <button
            type="button"
            id="openmodal"
            class="btn btn-outline-primary"
            data-toggle="modal"
            data-target="#notesModal"
          >NOTE</button>
        </span>
      </div>
      <div class="d-inline float-right">
        <span class="p-2 text-right align-middle">Totale: {{TotalPrice | currency("€")}}</span>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="notesModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Inserisci le note del menu</h5>
          </div>
          <div class="modal-body">
            <input
              type="text"
              class="form-control"
              id="exampleInputText"
              v-model="internalNotes"
              v-on:change="$emit('update', internalNotes)"
            />
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ReceiptResumeBar extends Vue {
  /**
   * Notes of receipt
   */
  @Prop()
  private receiptNotes = "";
  /**
   * Total pieces of receipt
   */
  @Prop()
  private totalPieces = 0;
  /**
   * Computed getter of totalPieces
   */
  get TotalPieces(): number {
    return this.totalPieces;
  }
  /**
   * Total price of receipt
   */
  @Prop()
  private totalPrice = 0;
  /**
   * Notes of receipt internal
   */
  private internalNotes = "";
  /**
   * Computed getter of totalPrice
   */
  get TotalPrice(): number {
    return this.totalPrice;
  }
  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.$watch(
      () => {
        return this.receiptNotes;
      },
      newVal => {
        this.internalNotes = newVal;
      }
    );
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#openmodal {
  background-color: white;
  padding: 0px 10px 0px 10px !important;
}
#resumeBar {
  margin-bottom: 64px;
}
</style>
