<template>
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <div @click="gotoHome()">
              <a class="btn btn-sm" href="#">
                <svg class="icon">
                  <use xlink:href="../assets/bootstrap-italia/svg/sprite.svg#it-arrow-left-circle" />
                </svg>
                <span class="pl-1">Home</span>
              </a>
            </div>
            <div class="containter-fluid">
              <img class="icon" src="../assets/cashier.png" alt />
              <span class="display-4 text-white align-bottom pl-2">{{pageTitle}}</span>
            </div>

            <div class="it-header-slim-right-zone" v-if="!isSessionValid">
              <div class="it-access-top-wrapper">
                <div class="container-fluid">
                  <a class="btn btn-primary btn-sm text-white" href="#" v-on:click="login()">Accedi</a>
                </div>
              </div>
            </div>

            <div class="it-header-slim-right-zone" v-if="isSessionValid">
              <div class="it-access-top-wrapper">
                <div class="container-fluid">
                  <span class="text-white p-3">{{user}}</span>
                  <a class="btn btn-primary btn-sm text-white" href="#" v-on:click="logout()">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Session, Response, LocalStorageKeys } from "../models/models";
import axios, { AxiosResponse } from "axios";

@Component
export default class UpperNavigationBar extends Vue {
  /**
   * Session key
   */
  @Prop()
  private sessionKey = new Session();
  /**
   * Message
   */
  @Prop()
  private msg!: string;
  /**
   * Page title
   */
  @Prop()
  private pageTitle!: string;
  /**
   * Internal session
   */
  private internalSession = new Session();

  /**
   * OnDocumentReady : https://vuejs.org/v2/guide/instance.html
   * Do viewmodels objects initialization here!
   */
  mounted() {
    this.$watch(
      () => {
        return this.sessionKey;
      },
      newVal => {
        this.internalSession = newVal;
        this.$emit("session", this.internalSession);
      }
    );
  }
  /**
   * Returns if current session is valid
   */
  get isSessionValid(): boolean {
    if (this.internalSession && this.internalSession.isValid != null) {
      return this.internalSession.isValid;
    } else {
      return false;
    }
  }
  /**
   * Returns login of current session, if valid
   */
  get user(): string {
    if (
      this.internalSession &&
      this.internalSession.isValid &&
      this.internalSession.user != null &&
      this.internalSession.user.login
    ) {
      return this.internalSession.user.login;
    } else {
      return "";
    }
  }
  /**
   * Login handler
   */
  private login() {
    this.$router.push("/login");
  }
  /**
   * Logout handler
   */
  private logout() {
    const uri =
      process.env.VUE_APP_API_BASE_URL +
      "Session/Logout?userId=" +
      this.internalSession.userID +
      "&sessionId=" +
      this.internalSession.sessionID;
    axios
      .get(uri)
      .then((response: AxiosResponse<Response>) => {
        if (response.data) {
          alert(response.data.message);
        }
        this.resetLocalStorage();
        this.$router.push("/login");
      })
      .catch(() => {
        alert("Errore generico nel logout");
      });
  }
  /**
   * Redirect to home
   */
  private gotoHome() {
    this.resetLocalStorage();
    if (this.internalSession != null) {
      if (this.internalSession.user?.userType?.isAdmin == true) {
        this.$router.push("/adminDashboard");
      } else {
        this.$router.push("/receipt");
      }
    }
  }
  /**
   * Reset Local Storage
   */
  private resetLocalStorage() {
    localStorage.removeItem(LocalStorageKeys.productsSelectedList);
    localStorage.removeItem(LocalStorageKeys.menusSelectedList);
    localStorage.removeItem(LocalStorageKeys.receiptNotes);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
