﻿.bg-light {
    background-color: #dc35459c !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #212529;
    font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 3;
}

#titles {
    text-align: center;
}

.input-time {
    border: 1px solid #666;
    padding: 4px;
    font-size: 1em;
    background-color: white;
    width: 16em;
    font-family: Consolas, monospace;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}